
  @import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Konkhmer+Sleokchher&family=Roboto:ital,wght@1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Konkhmer+Sleokchher&family=Roboto&display=swap');
body
{
    display: flex;
    justify-content: center;
}
.td
{
    display: flex;
    flex-direction: column;
    Width:366px;
    background-color: #D9D9D9;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    
}
.prf
{
    margin-top: -190px;
    position: absolute;
}
.rb
{
    margin-top: -140px;
   
}
button
{
    border-radius: 50px ;
    height: 48px;
    width: 176px;
    border: none;
    background-color: #5C85D4;
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: roboto;
    font-weight: 900px;
}
.td p
{
    width: 251px;
    text-align: center;
    margin:10px ;
    font-weight: roboto;
    font-weight: 400px;
}
.td h1
{
    margin-top: 60px;
    font-family: roboto ;
    font-weight: 900px;
    font-style: italic;
}
